// Variables
$body-color: #ffffff;
$primary-color: #32776E;
$secondary-color: #B6760A;
$border-color:#cccccc;
$primary-font: 'Inter', sans-serif;
$secondary-font: 'BT Beau Sans', serif;
$text-color: #808080;
$title-color: #757575;
$gray: #808080;
$light-gray: #fafafa;
$dark: #000;
$light: #fff;
$black: #000;
// $icon-font: 'themefisher-font';
