<!-- To Top -->
<div class="scroll-top-to">
  <i class="ti-angle-up"></i>
</div>

<!-- JAVASCRIPTS -->
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script>
<script>
  const input = document.querySelector("#validationDefault04");
  const iti = window.intlTelInput(input, {
    utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
  });
  const countryData = iti.getSelectedCountryData();
  const countryCode = '+' + countryData.dialCode; // Отримання коду країни (наприклад, "US")
  console.log(countryCode)

</script>
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/slick/slick.min.js"></script>
<script src="plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="plugins/syotimer/jquery.syotimer.min.js"></script>
<script src="plugins/aos/aos.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
<script src="plugins/google-map/gmap.js"></script>

<script src="js/script.js"></script>
</body>

</html>