<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>FixDeal</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <meta name="description"
    content="Digital trading platform for commodity market players. We eliminate fraud deals, reduce risks and transaction costs.">
  <link rel="icon" href="images/favicon.png" type="image/png" sizes="16x16">
  <link rel="icon" href="images/favicon-32.png" type="image/png" sizes="32x32">
  <link rel="apple-touch-icon" href="images/favicon-180.png" sizes="180x180">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://fixdeal.com">
  <meta property="og:title" content="FixDeal">
  <meta property="og:description"
    content="Digital trading platform for commodity market players. We eliminate fraud deals, reduce risks and transaction costs.">
  <meta property="og:image" content="images/preview.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta name="twitter:card" content="summary_large_image">

  <!-- PLUGINS CSS STYLE -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css">
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick/slick-theme.css">
  <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="plugins/aos/aos.css">
  <link rel="stylesheet" href="plugins/spotlight/spotlight.min.css">

  <!-- CUSTOM CSS -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">