<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row justify-content-between py-5">
        <div class="col-4 align-self-center">
          <div class="block">
            <a href="index.html"><img src="images/logo-white.svg" alt="footer-logo"></a>
            <p class="text-white mt-3">Powerful product to help you trade and track easier</p>
          </div>
        </div>
        <div class="col-auto">
          <div class="block-2">
            <!-- heading -->
            <h6>Contacts</h6>
            <!-- links -->
            <p class="text-white"><a href="mailto:info@fixdeal.com">info@fixdeal.com</a></p>
            <p class="text-white"><a href="tel:+34 689 862 833">+34 689 862 833</a></p>
            <p class="text-white">c. Arago 264, 3-1, 08007 Barcelona, Spain</p>
          </div>
        </div>
      </div>
      <div class="py-4 border-top">
        <small class="text-white">&copy;
          <script>document.write(new Date().getFullYear())</script> FixDeal. All rights reserved
        </small>
      </div>
    </div>
  </div>
</footer>